<div class='container'>
  <div class='flex flex-row justify-between mb-10'>
    <h1 class='text-3xl font-bold tracking-tight text-gray-900 dark:text-white'> Developers </h1>
    <%= link_to new_developer_path, class: 'btn-success', data: { turbo_frame: dom_id(User.new) } do %>
      <div class='flex flex-row items-center pr-2'>
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
        <p>Create Developer</p>
      </div>
    <% end %>
  </div>
  <%= turbo_frame_tag User.new %>
  <%= turbo_frame_tag 'developers', class: 'flex flex-col justify-start' do %>
    <%= render(DevRow.with_collection(@developers)) %>
  <% end %>
</div>
