<tr class='bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600'>
  <th scope='row' class='py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white'>
      <div class='flex items-center'>
        <svg class="w-6 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path></svg>
        <p class='text-lg'><%= developer.user_name %></p>
      </div>
  </th>
  <td class='text-right py-4 px-6'>
    <%= link_to 'Add to Project', add_developer_project_path(@project, developer_id: developer.id), class: 'btn-success' %>
  </td>
</tr>
