<div class='container flex flex-col'>
  <div class='flex items-center mb-3'>
    <%= link_to project_path(@project), class: 'text-gray-900 dark:text-white' do %>
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
    <% end %>
    <h2 class='text-xl font-bold tracking-tight text-gray-900 dark:text-white'>Developer Team:</h2>
  </div>
  <div class='overflow-x-auto relative shadow-md sm:rounded-lg mb-2'>
    <table class='w-full text-sm text-left text-gray-500 dark:text-gray-400'>
      <thead class='text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400'>
        <tr>
          <th scope='col' class='py-3 px-6'>
            Developer name
          </th>
          <th scope='col' class='py-3 px-6'>
            <span class='sr-only'>Edit</span>
          </th>
          </tr>
      </thead>
      <tbody>
        <%= render(ManageDeveloper.with_collection(@developers, project: @project)) %>
      </tbody>
    </table>
  </div>
</div>
