
<nav class="bg-white px-2 sm:px-4 py-2.5 dark:bg-gray-900 w-full border-b border-gray-200 dark:border-gray-600">
  <div class="container flex flex-wrap items-center justify-between mx-auto">
    <a href="/" class="flex items-center">
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Fair Pair</span>
    </a>
    <div class="flex md:order-2">
        <% if user_signed_in?%>
            <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn-danger' %>
        <% end %>
    </div>
  </div>
</nav>
